@import '_media-queries.scss'; // Make sure 'media-up' mixin is defined
@import '_variables';
@import '_colors';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    @media (max-width: 575.98px)  {
        background-color: $background-container; // Make sure this variable is defined
        height: 490px;
        width: auto;
        border-bottom-right-radius: 215px;
        // border: 2px solid black;

        .navbar {
            background-color: $background-container;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__burger-button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                margin-right: 4.5rem;
            }

            &__logo {
                font-weight: 800;
                color: white;
                margin-right: 10em;
                border: none;

            }

            &__signup {
                border: none;
                background-color: $btn-color; // Make sure this variable is defined
                border-radius: 40px;
                height: 30px;
                width: 5rem;
                margin-right: 10px;
            }

            &__login{
                border: none;
                background-color: transparent;
                color: white;
                margin-right: 10px;
                font-weight: bold;
            }
        }

        .main{
            margin-top: 50px;

            &__desc {
                color: white;
                font-size: 1.8em;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 30px;
                display: block;
            }

            &__location{
                display: block;
                margin-bottom: 30px;
                height: 50px;
                width: 80%;
                border: none;
                outline: none;
                border-radius: 15px;
                padding: 10px;
            }

            &__destination{
                margin-bottom: 30px;
                height: 50px;
                width: 80%;
                border: none;
                outline: none;
                border-radius: 15px;
                padding: 10px;
                display: block;
            }

            &__prices{
                border: none;
                outline: none;
                border-radius: 15px;
                width: 144px;
                height: 47px;
            }
        }
    }

}
