@import '_media-queries.scss'; // Make sure 'media-up' mixin is defined
@import '_colors';
@import '_navbar';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    @include smallPhones  {
        background-color: $background-container;
        border-bottom-right-radius: 265px;
        width: auto;
        max-height: 46rem;
        .main{
            &__desc {
                color: white;
                font-size: 1.8em;
                font-weight: bold;
                display: block;
                margin-top: 2em;
            }
    
            &__location{
                display: block;
                margin-bottom: 30px;
                margin-top: 2em;
                height: 50px;
                width: 80%;
                border: none;
                outline: none;
                border-radius: 15px;
                padding: 10px;
            }
    
            &__destination{
                margin-bottom: 30px;
                height: 50px;
                width: 80%;
                border: none;
                outline: none;
                border-radius: 15px;
                padding: 10px;
                display: block;
            }
    
            &__prices{
                border: none;
                outline: none;
                border-radius: 15px;
                width: 144px;
                height: 47px;
                color: black;
                font-weight: bold;
                margin-bottom: 3em;
            }

        }
    }
}

.secMain{
    @include smallPhones  {
        margin-top: 3.5rem;
        &__passanger {
            border-top-left-radius: 214.5px;
            border-bottom-right-radius: 214.5px;
            width: 95%;
            display: block;
            margin: auto;
        }

        &__heading{
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            font-weight: 600;
            padding: 0.5em;
            margin-top: 0.5em;
            width: fit-content;
        }

        &__paragraph {
            font-size: 1.2em;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
            padding: 1em;
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 5em;

            &__getStarted {
                background-color: #FFC107;
                color: black;
                height: 3.5em;
                width: 6.8em;
                border: none;
                outline: none;
                font-size: 1.2em;
                font-weight: 700;
                border-radius: 5px;
            }

            &__signIn {
                background-color: black;
                color: #FFC107;
                height: 3.5em;
                width: 6.8em;
                border: none;
                outline: none;
                font-size: 1.2em;
                font-weight: 700;
                border-radius: 5px;
            }
        }

        .thirdMain {
            &__map {
                border-top-left-radius: 220px;
                border-bottom-right-radius: 220px;
                width: 95%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            &__heading{
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                font-weight: 600;
                padding: 0.5em;
                margin-top: 0.9em;
                width: fit-content;
            }
    
            &__paragraph {
                font-size: 1.2em;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                letter-spacing: 2px;
                padding: 1em;
                margin-bottom: 3em;
            }

            &__travler {
                border-top-left-radius: 220px;
                border-bottom-right-radius: 220px;
                width: 95%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .downloadBtns {
            margin-top: 1.5em;
            display: grid;
            background-color: seashell;

            &__heading {
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                font-weight: 600;
                padding: 0.5em;
                margin-top: 0.9em;
                width: fit-content;
            }

            &__trave-app {

                img {
                    margin-left: 0.5em;
                    width: 15%;
                }

                background-color: white;
                color: black;
                outline: none;
                font-size: 1.4em;
                font-weight: 800;
                margin-bottom: 1em;
                width: 95%;
                height: 4.5em;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                border: 1px solid black;
            }

            &__driver-app {

                img {
                    margin-left: 0.5em;
                    width: 15%;
                }
                color: black;
                background-color: white;
                outline: none;
                font-size: 1.4em;
                font-weight: 800;
                margin-bottom: 1em;
                width: 95%;
                height: 4.5em;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                border: 1px solid black;
            }
        }
    }
}
